:root {
  --md-sys-color-primary: rgb(0 106 96);
  --md-sys-color-surface-tint: rgb(0 106 96);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(158 242 228);
  --md-sys-color-on-primary-container: rgb(0 80 72);
  --md-sys-color-secondary: rgb(74 99 95);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(204 232 226);
  --md-sys-color-on-secondary-container: rgb(51 75 71);
  --md-sys-color-tertiary: rgb(70 97 121);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(204 229 255);
  --md-sys-color-on-tertiary-container: rgb(45 73 97);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(244 251 248);
  --md-sys-color-on-background: rgb(22 29 28);
  --md-sys-color-surface: rgb(244 251 248);
  --md-sys-color-on-surface: rgb(22 29 28);
  --md-sys-color-surface-variant: rgb(218 229 226);
  --md-sys-color-on-surface-variant: rgb(63 73 71);
  --md-sys-color-outline: rgb(111 121 119);
  --md-sys-color-outline-variant: rgb(190 201 198);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 50 48);
  --md-sys-color-inverse-on-surface: rgb(236 242 239);
  --md-sys-color-inverse-primary: rgb(130 213 200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: rgb(130 213 200);
    --md-sys-color-surface-tint: rgb(130 213 200);
    --md-sys-color-on-primary: rgb(0 55 50);
    --md-sys-color-primary-container: rgb(0 80 72);
    --md-sys-color-on-primary-container: rgb(158 242 228);
    --md-sys-color-secondary: rgb(177 204 198);
    --md-sys-color-on-secondary: rgb(28 53 49);
    --md-sys-color-secondary-container: rgb(51 75 71);
    --md-sys-color-on-secondary-container: rgb(204 232 226);
    --md-sys-color-tertiary: rgb(173 202 230);
    --md-sys-color-on-tertiary: rgb(21 51 73);
    --md-sys-color-tertiary-container: rgb(45 73 97);
    --md-sys-color-on-tertiary-container: rgb(204 229 255);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(14 21 19);
    --md-sys-color-on-background: rgb(221 228 225);
    --md-sys-color-surface: rgb(14 21 19);
    --md-sys-color-on-surface: rgb(221 228 225);
    --md-sys-color-surface-variant: rgb(63 73 71);
    --md-sys-color-on-surface-variant: rgb(190 201 198);
    --md-sys-color-outline: rgb(137 147 144);
    --md-sys-color-outline-variant: rgb(63 73 71);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(221 228 225);
    --md-sys-color-inverse-on-surface: rgb(43 50 48);
    --md-sys-color-inverse-primary: rgb(0 106 96);
  }
}